.App {
  text-align: left;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.product-list {
  width: 30%;
  padding: 1rem;
}

.cart {
  width: 30%;
  padding: 1rem;
  margin-left: auto;
}

.product-item {
  padding: 1rem;
  margin-bottom: 1rem;
}

.product-name {
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: normal;
}

.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.product-details {
  display: none;
}

.product-item:hover .product-details {
  display: block;
}

.product-price {
  font-size: 1rem;
  color: #333;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: #f3f3f3;
  padding: 1rem;
}

.cart-item-image {
  align-self: center;
  margin-bottom: 1rem;
}

.cart-item-name,
.cart-item-price,
.cart-item-quantity,
.cart-item-total {
  margin-bottom: 0.25rem;
}

.cart-item-remove-button {
  border: 1px solid black;
  background-color: #f3f3f3;
  padding: 0.5rem 1rem;
  color: black;
  margin-top: 1rem;
  width: fit-content;
  cursor: pointer;
}

.cart-item-remove-button:hover {
  background-color: #ddd;
}

.cart-total {
  font-weight: bold;
  padding-top: 0.5rem;
  border-top: 1px solid #ddd;
}

.cart-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.App-logo {
  display: none;
}
