.App {
  text-align: left;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.product-list {
  width: 30%;
  padding: 1rem;
}

.cart {
  width: 60%;
  padding: 1rem;
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.product-item {
  padding: 1rem;
  margin-bottom: 1rem;
}

.product-name,
.product-price {
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: normal;
  display: block; 
}

.product-image {
  width: 90%; 
  height: auto;
  margin-bottom: 0.5rem;
}


.product-description {
  display: none;
}

.product-item:hover .product-description {
  display: block;
}

.product-price {
  font-size: 1rem;
  color: #333;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: #f3f3f3;
  padding: 1rem;
}

.cart-item-image {
  width: 80px; 
  margin-bottom: 1rem;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0;
}

.cart-item-name,
.cart-item-price,
.cart-item-quantity,
.cart-item-total {
  margin-bottom: 0.5rem;
}

.cart-item-remove-button {
  border: 1px solid black;
  background-color: #f3f3f3;
  padding: 0.5rem 1rem;
  color: black;
  margin-top: 1rem;
  cursor: pointer;
}

.cart-item-remove-button:hover {
  background-color: #ddd;
}

.cart-total {
  font-weight: bold;
  margin-top: 1rem;
  text-align: left;
}

.cart-heading {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.App-logo {
  display: none;
}
